<!-- hello component -->
<template id="hello-template">
  <div>
    {{text}}
  </div>
</template>
<script>
  Vue.component('hello', {
    // render: h => h(App),
    template: '#hello-template',
    name: "hello",
    props: {},
    data() {
      return {
        text: 'hello-component'
      }
    }
  })
</script>

<!-- hello component -->
<template id="world-template">
  <div>
    {{text}}
  </div>
</template>
<script>
  Vue.component('world', {
    // render: h => h(App),
    template: '#world-template',
    name: "world",
    props: {},
    data() {
      return {
        text: 'world-component'
      }
    }
  })
</script>